{% extends 'base.html.twig' %}

{% block nav %}
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><img src="{{ asset('assets/img/icons/logoWM.png') }}" alt=""><a class="navbar-brand" href="{{ path('index') }}"><span class="text-primary fs-3 ms-2 fw-bolder">ss</span><span class="fw-thin text-300 fs-3">urancy.tn</span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse pt-4 pt-lg-0" id="navbarSupportedContent">
            <p class="mb-0 ms-auto text-light fs-0 fw-normal"><i class="fas fa-phone-alt me-2"></i>Appelez-nous  <a class="text-light" href="tel:+216 92440011">+216 92440011</a></p>
            <ul class="navbar-nav ms-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('index') }}">Accueil</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('offres') }}">Nos offres</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('services') }}">Services rapides</a></li>
              <li class="nav-item px-2"><a class="nav-link active" aria-current="page" href="{{ path('about') }}">À propos nous</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('assistance') }}">Assitance</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('community') }}">Communauté</a></li>
            </ul>
            <div class="d-flex mt-2 align-items-center mt-lg-0">
              <a href="{{ path('login') }}"> <i class="fas fa-user text-primary"> </i></a>
            </div>
          </div>
        </div>
      </nav>
{% endblock %}

{% block body %}
        <div class="bg-holder d-none d-md-block" style="background-image:url(assets/img/illustrations/bg-car-insurance.png);background-position:0 500px;background-size:100% 85%;"></div>
        <div class="container">
          <div class="row align-items-center min-vh-100">
            <div class="col-md-7 col-xl-7 pt-9 text-md-start text-center">
                <div class="bg-holder" style="background-image:url(assets/img/illustrations/bg.png);background-position:left top;background-size:auto 600px;"></div>
                <h1 class="display-2 text-light fw-thin">À propos nous</h1>
                <p class="fs-2 text-200">Bienvenue sur Assurancy.tn, votre partenaire en assurance pour la vie, les véhicules, les biens immobiliers et bien plus encore.</p>
            </div>
            <div class="col-md-7 col-xl-7 pt-9 text-md-start text-center">
                <h1 class="display-2 text-light fw-thin">Qui sommes-nous ?</h1>
                <p class="fs-2 text-200">Assurancy.tn est bien plus qu'un simple site web. Nous sommes une entreprise engagée à offrir à nos clients une expérience d'assurance moderne, pratique et sécurisée. En plus de notre site web, nous proposons également une application de bureau dédiée pour répondre à tous vos besoins d'assurance.</p>
            </div>
            <div class="col-md-7 col-xl-7 pt-9 text-md-start text-center">
                <h1 class="display-2 text-light fw-thin">Nos services</h1>
                <p class="fs-2 text-200">Chez Assurancy.tn, nous comprenons que chaque client a des besoins uniques. C'est pourquoi nous offrons une gamme complète de services d'assurance, notamment pour la vie, les voitures, les motos, les bateaux, les camions, les biens immobiliers, et bien plus encore. Avec nous, vous bénéficiez d'avantages exclusifs, tels que la possibilité de réaliser un constat numérique en cas d'accident, de payer votre assurance en ligne en toute sécurité, et même de participer à des quiz interactifs qui prennent en compte votre police d'assurance.</p>
            </div>
            <div class="col-md-7 col-xl-7 pt-9 text-md-start text-center">
                <h1 class="display-2 text-light fw-thin">Notre engagement envers vous</h1>
                <p class="fs-2 text-200">Chez Assurancy.tn, la satisfaction de nos clients est notre priorité absolue. C'est pourquoi nous mettons à votre disposition une multitude de fonctionnalités pour rendre votre expérience aussi fluide et agréable que possible. Vous pouvez non seulement interagir avec d'autres clients via des forums et des publications, mais vous pouvez également demander de l'aide en cas d'urgence grâce à notre fonction de SOS intégrée. En cas de besoin, un agent SOS qualifié interviendra rapidement pour vous assister.</p>
            </div>
            <div class="col-md-7 col-xl-7 pt-9 text-md-start text-center">
                <h1 class="display-2 text-light fw-thin">Pourquoi choisir Assurancy.tn ?</h1>
                <p class="fs-2 text-200">- Une assurance sur mesure pour répondre à vos besoins spécifiques.<br>- Des fonctionnalités avancées pour faciliter la gestion de votre assurance.<br>- Un engagement envers la satisfaction et la sécurité de nos clients.<br>Chez Assurancy.tn, nous sommes là pour vous protéger, vous et ce qui compte le plus pour vous. Faites confiance à notre expertise et à notre engagement envers l'excellence pour vous offrir la tranquillité d'esprit que vous méritez.</p>
            </div>
          </div>
        </div>
{% endblock %}