{% extends 'base.html.twig' %}

{% block title %}New Devis{% endblock %}

{% block body %}
 <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_dashboard') }}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_utilisateurs') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Constat</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_assurances') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Devis</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_community') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Evauluation</span>
            </a>
          </li>
          
        
        </ul>
      </nav>
    <h1>Create new Devis</h1>

    {{ include('devis/_form.html.twig') }}


    <a href="{{ path('app_devis_index') }}">back to list</a>
{% endblock %}
